$grayColor-1: rgb(240, 240, 240);
$grayColor-2: rgb(230, 230, 230);
//$grayColor-3: #8E8E8E;
//$grayColor-4: #646464;
$textColor: rgb(30, 30, 30);
$blueColor-1: #dfeefb;
$blueColor-2: #0076de;

//$tablet-width: 600px;
//$monitor-width: 1000px;
//$max-page-width: 1300px;

//$radius-1: 4px;
//$radius-2: 1rem;
//$radius-3: 2rem;
