@use '@/components/App/css/variables' as *;

.button {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	padding: 0.4rem;
	border-radius: $radius-1;
	user-select: none;

	&:hover {
		background-color: $grayColor-2;
	}

	&:active {
		background-color: white;
	}

	& svg {
		display: block;
	}
}

.button--active {
	background-color: white;
}
