@use '@/components/App/css/variables' as *;

.top-part {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: $topPanelHeight;
	background-color: $panelBackground;
	backdrop-filter: blur($panelBlurStrength);
}

.top-part__logo {
	font-size: 2rem;
	padding: 0.6rem 1.2rem;
	user-select: none;
}

.top-part__divider {
	width: 1px;
	background-color: rgba(0, 0, 0, .1);
}

.top-part__panel {
	padding: 0.2rem 1.2rem;
}
